{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}

{% block body %}
    <div id="home-body" class="body">

        <div id="popupOverlay" class="overlay">
            <div class="popup">
                <div class="content"></div>
            </div>
        </div>

        {{ include('_annonceTable.html.twig', {'annonces':annonces}) }}
    </div>
{% endblock %}


